[submodule "submodules/machamp"]
	path = submodules/machamp
	url = git@github.com:machamp-nlp/machamp.git
[submodule "submodules/yanmtt"]
	path = submodules/yanmtt
	url = git@github.com:prajdabre/yanmtt.git
