tatoeba/tatoeba
.DS_Store
.idea
tensorboard/
wikidumps/
data/backup
backup
/baselines/data/afrisenti/
/baselines/data/glue/
/baselines/data/jam-nli-data/
/baselines/data/naija/
/baselines/data/singlish/
/baselines/download_glue_data.py
/tatoeba_task/tatoeba/
